<a href="https://colab.research.google.com/github/DamodaraBarbosa/projeto_analise_de_dados_DIO/blob/main/Projeto_Python_e_Pandas_Aula_3_DIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Iniciando o uso da biblioteca Pandas

Importando o Pandas

In [1]:
import pandas as pd

Definindo o dataframe

In [2]:
# passando os parâmetros de sep e error_bad_lines

df = pd.read_csv('/content/drive/MyDrive/BOOTCAMP DIO/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv', 
                 sep= ';', error_bad_lines= False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# mostrando as 5 primeiras linhas

df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
# modificando o nome das colunas

# df.rename(columns = {'country': 'País', 'continent': 'Continente', 'year': 'Ano',
#                      'lifeExp': 'Expectativa de vida', 'pop': 'População',
#                      'gdpPercap': 'Renda per capita'}, inplace = True)

# ao passar o parâmetro inplace como True a modificação é definitiva no dataframe

In [7]:
# outra forma de modificar os nomes das colunas:

df.columns = ['País', 'Continente', 'Ano', 'Expectativa de vida',
              'População', 'Renda per capita']
df.head()

,País,Continente,Ano,Expectativa de vida,População,Renda per capita
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106

In [9]:
# ou até mesmo adicionar um nome ao index do dataframe

df.index.name = 'Index'
df.head()

,País,Continente,Ano,Expectativa de vida,População,Renda per capita
Index,,,,,,
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106

In [13]:
# pode-se selecionar determinadas linhas do dataframe fazendo uma espécie de fatiamento

df[0:10]

,País,Continente,Ano,Expectativa de vida,População,Renda per capita
Index,,,,,,
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106
5,Afghanistan,Asia,1977,38.438,14880372,786.113360
6,Afghanistan,Asia,1982,39.854,12881816,978.011439
7,Afghanistan,Asia,1987,40.822,13867957,852.395945
8,Afghanistan,Asia,1992,41.674,16317921,649.341395
9,Afghanistan,Asia,1997,41.763,22227415,635.341351

In [20]:
# caso queira selecionar uma linha em específico é possível utilizar o método .iloc[]
# o que retorna uma Series

df.iloc[32]

País                       Algeria
Continente                  Africa
Ano                           1992
Expectativa de vida         67.744
População                 26298373
Renda per capita       5023.216647
Name: 32, dtype: object

In [21]:
# caso queira retornar um data frame deve-se colocar o index em colchetes duplos

df.iloc[[32]]

,País,Continente,Ano,Expectativa de vida,População,Renda per capita
Index,,,,,,
32,Algeria,Africa,1992,67.744,26298373,5023.216647

In [22]:
type(df.iloc[[32]])

pandas.core.frame.DataFrame

In [24]:
# para obter a quantidade de linhas e colunas

df.shape

(3312, 6)

In [23]:
# para obter apenas os nomes das colunas

df.columns

Index(['País', 'Continente', 'Ano', 'Expectativa de vida', 'População',
       'Renda per capita'],
      dtype='object')

In [27]:
# para obter os tipos de dados em cada coluna

df.dtypes

País                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
População                int64
Renda per capita       float64
dtype: object

In [28]:
# uma outra maneira é o uso do método info() que além de mostrar o tipo de dado em cada coluna também mostra a quantidade
# de linhas e colunas, assim como o nome das colunas, e os valores não nulos em cada coluna

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   País                 3312 non-null   object
 1   Continente           3011 non-null   object
 2   Ano                  3312 non-null   int64
 3   Expectativa de vida  3312 non-null   float64
 4   População            3312 non-null   int64
 5   Renda per capita     3312 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 155.4+ KB

In [32]:
# uma forma inteligente de mostrar as últimas linhas do dataframe é utilizar o método tail()

df.tail()

,País,Continente,Ano,Expectativa de vida,População,Renda per capita
Index,,,,,,
3307,Zimbabwe,Africa,1987,62.351,9216418,706.157306
3308,Zimbabwe,Africa,1992,60.377,10704340,693.420786
3309,Zimbabwe,Africa,1997,46.809,11404948,792.449960
3310,Zimbabwe,Africa,2002,39.989,11926563,672.038623
3311,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [33]:
# o método describe() retorna estatísticas descritivas num formato resumido, porém bastante completo

df.describe()

               Ano  Expectativa de vida     População  Renda per capita
count  3312.000000          3312.000000  3.312000e+03       3312.000000
mean   1980.301630            65.246871  3.161489e+07      11317.115805
std      16.927294            11.768412  1.041193e+08      11369.142739
min    1950.000000            23.599000  5.941200e+04        241.165876
25%    1967.000000            58.337500  2.678572e+06       2514.625266
50%    1982.000000            69.610000  7.557218e+06       7838.505123
75%    1996.000000            73.657750  1.958522e+07      17357.879170
max    2007.000000            82.670000  1.318683e+09     113523.132900

In [34]:
# caso queira uma análise mais completa basta passar como parâmetro include= 'all'

df.describe(include= 'all')

,País,Continente,Ano,Expectativa de vida,População,Renda per capita
count,3312,3011,3312.000000,3312.000000,3.312000e+03,3312.000000
unique,187,6,NaN,NaN,NaN,NaN
top,Spain,Europe,NaN,NaN,NaN,NaN
freq,58,1302,NaN,NaN,NaN,NaN
mean,NaN,NaN,1980.301630,65.246871,3.161489e+07,11317.115805
std,NaN,NaN,16.927294,11.768412,1.041193e+08,11369.142739
min,NaN,NaN,1950.000000,23.599000,5.941200e+04,241.165876
25%,NaN,NaN,1967.000000,58.337500,2.678572e+06,2514.625266
50%,NaN,NaN,1982.000000,69.610000,7.557218e+06,7838.505123
75%,NaN,NaN,1996.000000,73.657750,1.958522e+07,17357.879170
max,NaN,NaN,2007.000000,82.670000,1.318683e+09,113523.132900